{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/snowtricks-show.css') }}">
{% endblock %}

{% block main %}
    <div class="container bg-white">
        <div class="imgheader" style="background-image: url('{{ asset('assets/images/card-default.jpg') }}');">
            <div class="float-right border border-dark">
                <div class="my-2 px-3">
                    {% block header_edition %}{% endblock %}
                </div>
            </div>
            {% block name %}
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                            <h1 class="font-weight-bold" style="color:red;">{{ figure.name }}</h1>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="row">
            <div class="col-sm-2">
                {% for picture in figure.pictures %}
                    <div><img src="{{ asset(picture.webPath) }}" alt="{{ picture.alt }}" width="350"></div>
                    {% block picture_edition %}{% endblock %}
                {% endfor %}
                {% for video in figure.videos %}
                    <div class="video-block">
                        {% if video.platform == 'youtube' or video.platform == 'vimeo' %}
                            <div><iframe width="350" height="210" src="{{ video.url }}" allowfullscreen></iframe></div>
                        {% elseif video.platform == 'dailymotion' %}
                            <div><iframe width="350" height="210" src="{{ video.url }}" allowfullscreen></iframe></div>
                        {% endif %}
                        {% block video_edition %}{% endblock %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-4 offset-3">
            <div class="row justify-content-between">
                <div class="col-4">
                    {% block figure_name %}{% endblock %}
                </div>
                <div class="col-4">
                    09/05/2020
                </div>
                <div class="col-4">
                    {% block figure_category %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            {% block figure_description %}{% endblock %}
        </div>

        <div class="d-flex">
            <div class="mr-auto p-2">
                <a href="{{ path('figure_index') }}" class="btn btn-dark">back to list</a>
            </div>
            {% block buttons %}{% endblock %}
        </div>
    </div>
{% endblock %}
