{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block body %}
    <h1>Figure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Family</th>
                <th>Pictures</th>
                <th>Videos</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for figure in figures %}
            <tr>
                <td>{{ figure.id }}</td>
                <td>{{ figure.name }}</td>
                <td>{{ figure.description }}</td>
                <td>{{ figure.family }}</td>
                <td>{{ figure.pictures ? figure.pictures|join(', ') : '' }}</td>
                <td>{{ figure.videos ? figure.videos|join(', ') : '' }}</td>
                <td>{{ figure.slug }}</td>
                <td>
                    <a href="{{ path('figure_show', {'slug': figure.slug}) }}">show</a>
                    <a href="{{ path('figure_edit', {'id': figure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('figure_new') }}">Create new</a>
{% endblock %}
