{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block body %}
    <h1 class="title">Figure index</h1>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for figure in figures %}
            <tr>
                <td>{{ figure.id }}</td>
                <td>{{ figure.name }}</td>
                <td>{{ figure.description }}</td>
                <td>{{ figure.slug }}</td>
                <td>
                    <a href="{{ path('figure_show', {'id': figure.id}) }}" class="button">show</a>
                    <a href="{{ path('figure_edit', {'id': figure.id}) }}" class="button is-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('figure_new') }}">Create new</a>
{% endblock %}
