{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
    <h1>Figure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ figure.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ figure.description }}</td>
            </tr>
            <tr>
                <th>Family</th>
                <td>{{ figure.family }}</td>
            </tr>
            <tr>
                <th>Pictures</th>
                {% if figure.pictures|length > 0 %}
                    {% for picture in figure.pictures %}
                        <td><img src="{{ asset('uploads/photos/' ~ picture) }}" alt="{{ figure.name ~ loop.index }}" height="200" /></td>
                    {% endfor %}
                {% else %}
                    <td>Il n'y a pas d'image pour cette figure.</td>
                {% endif %}
            </tr>
            <tr>
                <th>Videos</th>
                {% if figure.videos|length > 0 %}
                    {% for videopath in figure.videos %}
                        <td><object data="{{ videopath }}" height="300" width="560"></object></td>
                    {% endfor %}
                {% else %}
                    <td>Il n'y a pas de vidéo pour cette figure.</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('figure_index') }}">back to list</a>

    <a href="{{ path('figure_edit', {'id': figure.id}) }}">edit</a>

    {{ include('figure/_delete_form.html.twig') }}
{% endblock %}
