{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
    <h1 class="title">Figure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ figure.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ figure.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ figure.description }}</td>
            </tr>

            <tr>
                <th>Pictures</th>
                {% for picture in figure.pictures %}
                    <td><img src="{{ asset(picture.webPath) }}" alt="{{ picture.alt }}" width="250"></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('figure_index') }}" class="button ">back to list</a>

    <a href="{{ path('figure_edit', {'id': figure.id}) }}" class="button is-primary">edit</a>

    {{ include('figure/_delete_form.html.twig') }}
{% endblock %}
