<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/snowtricks.css') }}">
        {% block stylesheets %}{% endblock %}
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    </head>

    <body>
        <header class="navbar navbar-expand navbar-light bg-light flex-row">
            <a class="navbar-brand" href="{{ path('figure_index') }}">
                <img src="{{ asset('assets/images/Snowtricks-logo.jpg') }}"  height="35" class="align-top" alt="logo">
            </a>

            <ul id="menu-mobile" class="navbar-nav flex-fill justify-content-around">
                <li class="nav-item" style="font-size: 45px">
                    <a class="nav-link {% if app.request.get('_route') == 'figure_index' %}active{% endif %}" href="{{ path('figure_index') }}"><i class="fas fa-home"></i></a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item" style="font-size: 45px">
                        <a class="nav-link {% if app.request.get('_route') == 'figure_new' %}active{% endif %}" href="{{ path('figure_new') }}"><i class="fas fa-bookmark"></i></a>
                    </li>
                    <li class="nav-item" style="font-size: 45px">
                        <a class="nav-link" href="{{ path('app_logout')}}"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li class="invisible" style="font-size: 45px"></li>
                    <li class="nav-item" style="font-size: 45px">
                        <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                {% endif %}
            </ul>

            <ul id="menu-computer" class="navbar-nav ml-auto" >
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('figure_index') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('figure_new') }}">New</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign up</a>
                    </li>
                {% endif %}
            </ul>

        </header>

        <main class="container-fluid row justify-content-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
            <div class="col-12 m-5 container-fluid">
            {% block main %}{% endblock %}
            </div>
        </main>

        <footer class="footer bg-light row text-center" id="footer">
            <div class="col-12">Ce site est un projet d'étude réalisé avec le framework Symfony 5 dans le cadre du parcours de formation d'OpenClassRooms : Développeur d'application PHP/Symfony.</div>
            <div class="col-12">Copyright Julien Robic © 2020</div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
